<ul>
    <li><a href="/">Home</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
    {% if request.user.is_authenticated %}

    <li style="float:right"><a href="{% url 'logout' %}"><span><i class="fas fa-sign-out-alt"></i></span> Logout</a></li>
    <li style="float:right">
        <p> <span><i class="fas fa-user"></i></span> &nbsp;{{request.user.first_name}}</p>
    </li>
    {% else %}
    <li style="float:right"><a href="{% url 'login' %}"><span><i class="fas fa-sign-in-alt"></i></span>&nbsp;Login</a></li>
    {% endif %}
</ul>