{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="center">
    <h1>Upload Image</h1>
</div>
<hr>

<div class="row margin-left">
    <div class="col-md-3">
        <form method="POST" enctype="multipart/form-data" role="form">{% csrf_token %}

            {{ form|crispy }}
            <p><button type="submit" class="btn btn-success">Upload</button></p>
        </form>
        {% if object.image %}
        <button class="btn btn-info" id="result-btn">Show Result</button>
        <p><label>Current image:</label></p>
        <div class="form-group">
            <img src="{{object.image.url}}" alt="foodie" width="400px" height="300px" class="rounded">
        </div>
        {% endif %}
    </div>

    <div class="col-md-5 margin-left-110" id="result-table" style="display: none;">
        {% for p in prediction %}
            <h1>{{ p.title }}</h1>
            <h3>Nutritional Facts</h3>
            <table>
                <tr>
                    <th>Ingredient</th>
                    <th>Carbohydrates (Grams)</th>
                    <th>Fat (Grams)</th>
                    <th>Calories</th>
                </tr>
                {% for i in p.ingredients %}
                    <tr>
                        <td>{{ i.ingredient }}</td>
                        <td>{{ i.carb }}</td>
                        <td>{{ i.fat }}</td>
                        <td>{{ i.cal }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <th>Total</th>
                    <th>{{ p.total.carb }}</th>
                    <th>{{ p.total.fat }}</th>
                    <th>{{ p.total.cal }}</th>
                </tr>
            </table>
            <h3>Recipe</h3>
            <ol>
                {% for r in p.recipe %}
                    <li style="float: none">{{ r }}</li>
                {% endfor %}
            </ol>
        {% endfor %}
    </div>
</div>



{% endblock %}

{% block script %}
<script>
    let val=true;
    $("#result-btn").click(function () {
        if (val){
            $("#result-table").show();
            val=false;
            $("#result-btn").text("Hide Result")
        }else{
            $("#result-table").hide();
            val=true;
            $("#result-btn").text("Show Result")
        }
        
        
    });
</script>
{% endblock %}